*{
  margin: 0;
  padding: 0;
  
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(110, 110, 110);
  /* border: 1px solid black; */
  position: sticky;
  top: 0;
  background-color: white;
  justify-content: space-between;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

.search {
  width: 750px;
  height:53=4px;
  margin: 6px;
  display: flex;
  flex-direction: row;
}


.signin {
  width: 200px;
  padding: 5px;
  margin: 5px;

}



.logoimage {
  height: 55px;
  cursor: pointer;
}

.sidebar {
  width: 200px;
  border: 1px solid rgb(110, 110, 110);
  display: flex;
  flex-direction: column;
}

.sidebarItem {
  height: 40px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}
.You{
  height: 220px;
  background-image: url("./subscriptions.png");
  background-position: center;
  
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.266); */
  display: flex;

  cursor: pointer;
}
.Home{
  height: 120px;
  background-image: url("./home.png");
  background-position: center;
  
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.266); */
  display: flex;

  cursor: pointer;

}
.Subs{
  height: 320px;
  background-image: url("./explore.png");
  background-position: center;
  
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.266); */
  display: flex;

  cursor: pointer;
}
.line{
  height: 30px;
  background-image: url("./you.png");
  background-position: center;
  
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.266); */
  display: flex;

  cursor: pointer;

}
.mic{
  background-image: url("./mic.png");
  margin-left: 5px;
  height: 55px;
  cursor: pointer;
  width: 55px;
  background-position: center;
  background-size: cover;
}
.sidebarIteme{
  height: 40px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(212, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}
.sidebarIteme:hover{
  background-color: rgb(132, 255, 0);
  box-shadow: 0px 0px 25px black;
}
.sidebarItem:hover{
  background-color:rgb(255, 0, 0);
  box-shadow: 0px 0px 25px black;
}

.videos {
  flex: 1;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}

.video {
  width: 400px;
  height: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  transition: 1s;
}
.video:hover{
  box-shadow: 0px 0px 30px rgb(68, 135, 237);
}

.thumbnail {
  flex: 5;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  
}


.titlewrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.channelphoto {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.title {
  flex: 1;
  margin: 2px;
}

.channel {
  flex: 1;
  margin: 2px;
  font-weight: bold;
}

.views {
  flex: 1;
}

.searchInput {
  background-color: rgb(248, 176, 176);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid rgb(176, 175, 175);
  flex: 4;
  padding-left: 15px;
  cursor: pointer;
 
}

.searchInput:hover{
  background-color: rgb(211, 37, 37);

}

.searchButton {
  width: 150px;
  flex: 1;
  color: aliceblue;
  background-color: rgb(118, 89, 89);
  border: 1px solid rgb(176, 175, 175);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px;
  cursor: pointer;

}
.searchButton:hover{
  background-color: rgb(220, 3, 3);

}

.signInButton {
  width: 190px;
  /* color: rgb(228, 228, 228); */
  border-color: rgba(124, 123, 123, 0);
  background-image: url("./Signin.png");
  background-size: cover;
  background-position: center;
  height: 50px;
  /* border-radius: 30px; */
  cursor: pointer;
}
.signInButton:hover{
  background-color: rgb(220, 3, 3);
 
}

.channelImage {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
